@import "tailwindcss";

:root {
  /* -----------------Fonts---------------- */
  --font-primary: var(--font-rajdhani);
  --font-secondary: var(--font-rubik);
}

/* ---------Custom Utility Classes--------- */
@layer utilities {
  /* -----------Responsive Container Padding----------- */
  .section {
    @apply container mx-auto px-5 md:px-10 lg:px-16 xl:px-20 2xl:px-32;
  }
  .sectionPadding {
    @apply mt-16;
  }
  /* ----------------Font Utilities-------------------- */
  .font-rajdhani {
    font-family: var(--font-rajdhani);
  };
  .font-rubik {
    font-family: var(--font-rubik);
  }
}

/* ----------------------Colors-------------------- */
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  /* -----------------Primary Colors--------------- */
  --color-red-primary: #FF0003;
  --color-red-light: #FF494A;
  --color-pink-primary: #FF014F;
  --color-pink-light: #FF494A29;
  
  /* --------------Background Shades--------------- */
  --color-bg-light: #FFFFFD0F;
  --color-bg-white-overlay: #ffffff14;
  --color-bg-white-overlay-deep: #ffffff33;
  --color-bg-dark: #141414;
  --color-bg-dark-blue: #1F242E;
  --color-bg-dark-gray: #1b1e22;
  
  /* -----------------Accent Colors---------------- */
  --color-green-accent: #48A133;
  
  /* -----------------Black Shades----------------- */
  --color-black: #000000;
  --color-black-light: #060606;
  --color-black-medium: #0F0F0F;
  --color-black-soft: #151515;
  
  /* -------------------Gray Shades---------------- */
  --color-gray-medium: #9F9F9F;
  --color-gray-light: #C2C2C2;
  --color-gray-lighter: #E3E3E3;
  
  /* ----------------------White------------------- */
  --color-white: #FFFFFF;
  --font-sans: var(--font-rajdhani);
  --font-mono: var(--font-rubik);
}

body {
  background: var(--color-black-light);
  color: var(--color-white);
  font-family: var(--font-rajdhani), Arial, Helvetica, sans-serif;
}

.text-stroke {
       -webkit-text-stroke: 1px white;
}